/* @import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* override the tailwind defaults to get bullets and numbers back on lists in blog posts.*/
article ul {
  list-style: disc;
}
article ol {
  list-style: decimal;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

a {
  @apply underline text-frenchviolet;
}

b,
strong {
  @apply font-bold;
}

i,
em {
  @apply italic;
}

button.nav-button {
  @apply text-almostblack;
}

ul.navbar > li > a,
ul.navbar > li > button {
  @apply text-almostblack uppercase text-base font-bold tracking-[0.03125rem] leading-4 no-underline;
}

ul.navbar > li > a {
  @apply px-4;
}

ul.navbar > li > button {
  @apply pl-4;
}

ul.navbar > li > a:hover,
ul.navbar > li > button:hover,
ul.navbar > li > ul > li > a:hover {
  @apply text-frenchviolet;
}

ul.navbar > li.active > a,
ul.navbar > li.active > button {
  @apply text-frenchviolet before:content-[''] before:border-l-[0.25rem] before:border-frenchviolet before:pr-[0.5rem];
}

ul.navbar > li > ul {
  padding: 1rem 2rem;
  background-color: #ffe5c4;
  border-radius: 4px;
  @apply absolute;
}

ul.navbar > li > ul > li {
  @apply pb-2 no-underline;
}

ul.navbar > li > ul > li:last-child {
  @apply p-0 no-underline;
}

ul.navbar > li > ul > li > a {
  @apply text-almostblack text-base font-bold tracking-[0.03125rem] leading-4 no-underline;
}

ul.navbar-mobile {
  @apply mt-6;
}

ul.navbar-mobile > li,
ul.navbar-mobile > li > button {
  @apply p-4 text-2xl uppercase;
}

ul.navbar-mobile > li > button {
  @apply text-white no-underline p-0;
}

ul.navbar-mobile > li > a {
  @apply text-white no-underline;
}

.post-list {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin-bottom: 2em;
}

.post-list > ul {
  margin: 0;
  padding: 0;
  flex: 1 0 auto;
}
.post-list > ul > li {
  list-style: none;
  margin-bottom: 1.5rem;
}

.content h1 {
  color: red;
  font-family: Fredoka;
  margin: 2.5rem 0 0 0;
}

/* Markdown Styles */

article {
  flex: 1 0 auto;
}

/* Headers */

article h1 {
  color: #7e1cc4;
  letter-spacing: 0.2px;
}

article h2 {
  border-left: solid 4px;
  border-color: #ff9c77;
  padding-left: 11px !important;
}

/* Lists */

article ul {
  font-family: "Nunito", sans-serif;
  color: #1e1e1e;
  font-weight: 400;
  font-size: 18px;
}

article ul li::marker {
  color: #ff9c77;
}

article ol {
  font-family: "Nunito", sans-serif;
  color: #1e1e1e;
  font-weight: 400;
  font-size: 18px;
}

/*  Details + Summary */

article details,
details summary {
  font-family: "Nunito", sans-serif;
  color: #1e1e1e;
  font-weight: 400;
  font-size: 18px;
}

article details {
  margin-top: 1.5rem;
}

article summary {
  cursor: pointer;
}

article summary::marker {
  color: #ff9c77;
  cursor: pointer;
}

article summary strong {
  font-weight: 400 !important;
}

/* Lists */

article li {
  margin-bottom: 0.85em;
}

/* Links / Anchors */

article a {
  text-decoration: none !important;
  font-weight: 400;
}

/* Image Captions */

article p.caption,
article .figcaption {
  font-family: "Fredoka", sans-serif;
  color: #333333;
  margin-bottom: 2rem;
  font-style: italic;
}

/* Tables */

article table tr {
  font-family: "Nunito", sans-serif;
  border-top: 2px solid #ffe5c4 !important;
  line-height: 27.2px;
}

article table tr th {
  background-color: #fff;
  font-weight: 700;
  border-bottom: 2px solid #ffe5c4;
}

article table td,
article table th {
  border-left: none !important;
  border-right: none !important;
}

article table {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #333333;
  overflow-x: auto;
  width: 100%;
}

article table tr td:first-child {
  min-width: 200px !important;
}

article table tbody tr:nth-child(odd) {
  background-color: #fff;
}

article table tbody tr:nth-child(even) {
  background-color: #fffaf3;
}

article table tbody tr:last-child {
  border-bottom: 3px solid #ffe5c4;
}

article table td {
  text-align: left;
}
