/* @import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* override the tailwind defaults to get bullets and numbers back on lists in blog posts.*/
article ul {
  list-style: disc;
}
article ol {
  list-style: decimal;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

a {
  @apply underline text-frenchviolet;
}

b,
strong {
  @apply font-bold;
}

i,
em {
  @apply italic;
}

button.nav-button {
  @apply text-almostblack;
}

ul.navbar > li > a,
ul.navbar > li > button {
  @apply text-almostblack uppercase text-base font-bold tracking-[0.03125rem] leading-4 no-underline;
}

ul.navbar > li > a {
  @apply px-4;
}

ul.navbar > li > button {
  @apply pl-4;
}

ul.navbar > li > a:hover,
ul.navbar > li > button:hover,
ul.navbar > li > ul > li > a:hover {
  @apply text-frenchviolet;
}

ul.navbar > li.active > a,
ul.navbar > li.active > button {
  @apply text-frenchviolet before:content-[''] before:border-l-[0.25rem] before:border-frenchviolet before:pr-[0.5rem];
}

ul.navbar > li > ul {
  padding: 1rem 2rem;
  background-color: #ffe5c4;
  border-radius: 4px;
  @apply absolute;
}

ul.navbar > li > ul > li {
  @apply pb-2 no-underline;
}

ul.navbar > li > ul > li:last-child {
  @apply p-0 no-underline;
}

ul.navbar > li > ul > li > a {
  @apply text-almostblack text-base font-bold tracking-[0.03125rem] leading-4 no-underline;
}

ul.navbar-mobile {
  @apply mt-6;
}

ul.navbar-mobile > li,
ul.navbar-mobile > li > button {
  @apply p-4 text-2xl uppercase;
}

ul.navbar-mobile > li > button {
  @apply text-white no-underline p-0;
}

ul.navbar-mobile > li > a {
  @apply text-white no-underline;
}

.post-list {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin-bottom: 2em;
}

.post-list > ul {
  margin: 0;
  padding: 0;
  flex: 1 0 auto;
}
.post-list > ul > li {
  list-style: none;
  margin-bottom: 1.5rem;
}

.content h1 {
  color: red;
  font-family: Fredoka;
  margin: 2.5rem 0 0 0;
}
